@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html, body, #root{
        @apply h-full bg-backdrop text-white justify-between antialiased
    }
    #root {
    @apply flex flex-col
    }
    .scrollable {
        scroll-behavior: smooth;
    }
}
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 12px;
      height: 31.412%;
    } 
    .scrollbar::-webkit-scrollbar-track {
      background: transparent;
}
    .scrollbar::-webkit-scrollbar-thumb {
        background: #727272;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background:#a7a7a7;
    }
  }
  
